<!--<div class="cfp-column">-->
  <h3>📣 Call for Papers: 8th Annual PrivaCI Symposium 2026</h3>
  <p>
    The symposium fosters collaboration among researchers and practitioners using Contextual Integrity
    to reason about privacy and to design ethical data systems.
  </p>
  <p>
    <strong>🗓 Submission deadline:</strong> February 13, 2026 (AoE)<br>
    <strong>📅 Symposium dates:</strong> June 24–25, 2026<br>
    <em>📍 University of Illinois at Urbana-Champaign, USA</em>
  </p>
    <br/>
    <br/>
  <a href="https://privaci.info/symposium/2026/cfp.html"
     target="_blank" class="btn-secondary">View Call for Papers</a>

