<div id="navigation" class="nav-bar sticky">
  <nav class="nav-container">
    <!-- LEFT: LOGO / TITLE -->
    <div class="nav-left">
      <a href="{{ site.baseurl }}" class="nav-logo">
        <img src="{{ site.url }}/images/PrivaCI.png" alt="PrivaCI" />
        <span>PrivaCI Institute</span>
      </a>
    </div>

    <!-- CENTER: LINKS -->
    <ul class="nav-links">
      {% for link in site.data.navigation %}
        {% if link.side == 'left' %}
          {% if link.dropdown == nil %}
            <li{% if link.url == page.url %} class="active"{% endif %}>
             <a href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a>
            </li>
          {% else %}
            <li class="has-dropdown{% if link.url == page.url %} active{% endif %}">
              <a href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a>
              <ul class="dropdown">
                {% for dropdown_link in link.dropdown %}
                  <li>
                   <a href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    <!-- RIGHT: LANGUAGE SWITCH / EXTERNAL LINKS -->
    <!--<div class="nav-right">
      {% for link in site.data.navigation %}
        {% if link.side == 'right' %}
          <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
      <span class="lang-toggle"><a href="#">EN</a> | <a href="#">FR</a></span>
    </div>-->
  </nav>
</div>



