<style>

/*---- Codepen.io http://codepen.io/christiannaths/pen/emdKGO */

contaner * {
  box-sizing: border-box;
}


.container {
  margin: 0 auto;
  max-width: 640px;
}

.container .a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}



.container .h2 {
  margin: 1.875em 0 0 0;
  font-size: 0.875em;
  font-weight: 500;
  color: #919FAF;
  text-transform: uppercase;
}

.container .li {
  overflow: hidden;
  margin: 4px -20px;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 3px;
}
.container li .date {
  float: left;
  padding: 0.125em 0.75em 0 0;
  margin-left: 0.25em;
  margin-right: 0.75em;
  font-weight: bold;
  text-align: center;
  border-right: 2px solid #919FAF;
}
.container li .date .weekday, li .date .day {
  display: block;
}
.container li .date .weekday {
  font-size: 0.75em;
}
.container li .date .day {
  margin-top: -2px;
  font-size: 1.3em;
}
.container li a {
  position: relative;
  top: 3px;
  display: block;
  float: right;
  width: 40px;
  line-height: 2.5;
  text-align: center;
  color: #919FAF;
}
.container li h3 {
  font-weight: bold;
  margin-bottom: -3px;
  margin-top: 3px;
}
.container li .duration, li .location {
  font-size: 0.875em;
  color: #919FAF;
  -webkit-font-smoothing: antialiased;
}
.container li .duration {
  margin-right: 0.25em;
  padding-left: 0.1em;
  padding-right: 0.5em;
  border-right: 1px solid #E2E5E5;
}

.container li.past {
  color: #919FAF;
  border-color: #E2E5E5;
  background-color: #F3F3F3;
}

.container li.next .date {
  border-right-color: orange;
  border-width: 0.25em;
  margin-right: 0.75em;
  padding-right: 0.625em;
}

.container li:first-child {
  margin-top: 2px;
}

.container button.subscribe {
  position: relative;
  top: -4px;
  left: -11px;
}
.container button.subscribe span {
  position: absolute;
  top: 0;
  left: 5px;
}

.container button.subscribe span:last-child {
  font-size: 0.5em;
  top: 7px;
  left: 10px;
}

</style>
<aside>
<br/>
<br/>
<br/>
<br/>
<h3>Team</h3>
<br/>
Our team comprises of researchers across disciplines and institutions.
This is a collaboration project between Princeton and New York Universities.
<p/>
<ul>
<li><a href="http://yansh.github.io">Yan Shvartzshnaider</a> (NYU/Princeton)</li>
<li><a href="http://www.nyu.edu/projects/nissenbaum/">Helen Nissenbaum</a>(NYU) </li>
<li><a href="http://cs.nyu.edu/~lakshmi/Lakshmi/Home.html">Lakshminarayanan Subramanian </a>(NYU) </li>
<li><a href="http://www.princeton.edu/~pmittal/index.html">Prateek Mittal </a>(Princeton) </li>
<li><a href="">Paula Kift</a> (NYU) </li>
<li><a href="http://cs.nyu.edu/wies/">Thomas Wies</a> (NYU) </li>
<li><a href="https://wp.nyu.edu/zvonimir/">Zvonimir Pavlinovic</a> (NYU) </li>

</ul>
</aside>
