---
layout: default
title: "Latest posts"
teaser: "Check out all blog posts in my blog archive."
permalink: "blog/archive/"
---

<div id="blog-index" class="row">
  <div class="small-12 columns t30">
    <h1>{{ page.title }}</h1>
    {% if page.teaser %}
    <p class="teaser">{{ page.teaser }}</p>
    {% endif %}

    <div class="news">
      {% if site.posts.size > 0 %}
        {% for post in site.posts %}
        <article class="news-item">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
          <p>
            {% if post.meta_description %}
              {{ post.meta_description | strip_html | truncate: 150 }}
            {% else %}
              {{ post.excerpt | strip_html | truncate: 150 }}
            {% endif %}
          </p>
          <a href="{{ post.url }}" class="readmore">Read More →</a>
        </article>
        {% endfor %}
      {% else %}
        <p>No news items available yet.</p>
      {% endif %}
    </div>
  </div><!-- /.small-12.columns -->
</div><!-- /.row -->
