---
layout: page
show_meta: false
title: "Photos from our events"
subheadline: "We are having fun!"
sidebar: right
header: no
---
<style TYPE="text/css">
.gallery-image-wrapper {
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 1em;
  position: relative;
  text-align: center;
}
.gallery-image {
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  max-height: 100%;
  max-width: 100%;
}
</style>

{% for image in page.images %}
    <div class="gallery-image-wrapper">
        <a name="{{ image }}" />
        <img src="thumbs/{{ image }}" />
    </div>
{% endfor %}
